on:
  push:
    # Pattern matched against refs/tags
    tags:
    - '*'             # Push events to every tag not containing /
  pull_request:
  workflow_dispatch:

name: Publish

jobs:
  publish:
    name: Publish
    runs-on: ubuntu-latest
    if: startsWith(github.ref, 'refs/tags/v')
    steps:
    - name: Checkout sources
      uses: actions/checkout@v5

    - name: Install stable toolchain
      uses: dtolnay/rust-toolchain@stable

    - name: Publish on crates.io
      run: cargo publish --token ${{ secrets.CRATES_TOKEN }}
  check-publish:
    name: Check Publish
    runs-on: ubuntu-latest
    if: startsWith(github.ref, 'refs/tags/v') != true
    steps:
    - name: Checkout sources
      uses: actions/checkout@v5

    - name: Install stable toolchain
      uses: dtolnay/rust-toolchain@stable

    - name: Check if can publish on crates.io
      run: cargo publish --token ${{ secrets.CRATES_TOKEN }} --dry-run -v
