on:
  pull_request:
    paths:
    - '**.rs'
    - .github/workflows/rustbench.yml
    - '**/Cargo.toml'
  push:
    branches: [main]
  workflow_dispatch:

name: Benchmark

permissions:
  pull-requests: write

jobs:
  benchmark:
    runs-on: ubuntu-latest
    services:
      languagetool:
        image: erikvl87/languagetool:latest
        ports:
        - 8010:8010
        env:
          Java_Xms: 512m
          Java_Xmx: 2g
    env:
      LANGUAGETOOL_HOSTNAME: http://localhost
      LANGUAGETOOL_PORT: 8010
    steps:
    - uses: actions/checkout@v3

    - name: Setup rust toolchain, cache and cargo-codspeed binary
      uses: moonrepo/setup-rust@v1
      with:
        channel: stable
        cache-target: release
        bins: cargo-codspeed

    - name: Build the benchmark target(s)
      run: cargo codspeed build

    - name: Run the benchmarks
      uses: CodSpeedHQ/action@v3
      with:
        run: cargo codspeed run
