on:
  pull_request:
    paths:
    - '**.rs'
    - Cargo.toml
  workflow_dispatch:

name: Cargo check

jobs:
  cargo_check:
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v3
    - uses: taiki-e/install-action@cargo-hack
    - run: >
        cargo hack check
        --feature-powerset
        --no-dev-deps
        --clean-per-run
        --group-features cli,log,pretty_env_logger,color,clap-verbosity-flag
        --group-features cli-complete,docker
        --group-features typst,html,markdown
        --mutually-exclusive-features native-tls,native-tls-vendored
        --exclude-features snapshots
