on:
  pull_request:
    paths:
    - '**.rs'
    - Cargo.toml
  workflow_dispatch:

name: MSRV check

jobs:
  msrv_check:
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v6

    - name: Install stable toolchain
      uses: dtolnay/rust-toolchain@stable

    - name: Install Cargo MSRV
      uses: taiki-e/install-action@v2
      with:
        tool: cargo-msrv

    - name: Check MSRV
      run: cargo msrv verify -- cargo check --all-features

    - name: Find MSRV if above fail
      if: failure()
      run: cargo msrv find -- cargo check --all-features
