on:
  pull_request:
    paths:
    - '**.rs'
    - .github/workflows/rustlib.yml
    - Cargo.toml
  workflow_dispatch:

name: Library testing

jobs:
  rustdoc:
    name: Rustdoc
    runs-on: ubuntu-latest
    steps:
    - name: Checkout sources
      uses: actions/checkout@v3

    - name: Install nightly toolchain
      uses: dtolnay/rust-toolchain@nightly

    - name: Cache dependencies
      uses: Swatinem/rust-cache@v2

    - name: Check rustdoc build
      run: RUSTDOCFLAGS='--cfg docsrs' cargo +nightly doc --all-features -Zunstable-options -Zrustdoc-scrape-examples

  test:
    name: Test
    strategy:
      fail-fast: false
      matrix:
        tag: [latest, '5.5', '5.6', '5.7', '5.8', '5.9', '6.0', '6.1', '6.2', '6.3', '6.4', '6.5']
        features: ['']
        include:
        - tag: latest
          features: --all-features
    runs-on: ubuntu-latest
    services:
      languagetool:
        image: erikvl87/languagetool:${{ matrix.tag }}
        ports:
        - 8010:8010
        env:
          langtool_maxTextLength: 1500
    env:
      LANGUAGETOOL_HOSTNAME: http://localhost
      LANGUAGETOOL_PORT: 8010
    steps:
    - name: Checkout sources
      uses: actions/checkout@v3

    - name: Install stable toolchain
      uses: dtolnay/rust-toolchain@stable

    - name: Cache dependencies
      uses: Swatinem/rust-cache@v2

    - run: curl -LsSf https://get.nexte.st/latest/linux | tar zxf - -C ${CARGO_HOME:-~/.cargo}/bin
    - run: cargo nextest run ${{ matrix.features }} --no-capture
